<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMDB_INDEX</title>
    <style>
        body{
            margin: 0;
        }
        .menu{
            display: block;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div style="height: 48px; background-color: black; color: white">
        CMDB_INDEX
    </div>

    <div style="height: 1200px">
        <div style="position: absolute; top: 48px; bottom: 0; left: 0; width: 200px; background-color: brown;">
            <a class="menu" href="/cmdb/user_info">用户管理</a>
            <a class="menu" href="/cmdb/user_group">用户组管理</a>
        </div>

        <!--overflow: auto/scroll 超出父布局的内容支持滚动-->
        <div style="position: absolute; top: 48px; left: 210px; bottom: 0; right: 0; overflow: auto">
            <h3>用户列表</h3>
            <ul>
                {% for row in user_list%}
                    <li><a href="/cmdb/userdetail-{{row.id}}/">{{row.username}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>