<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMDB_INDEX</title>
    <style>
        body{
            margin: 0;
        }
        .menu{
            display: block;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div style="height: 48px; background-color: black; color: white">
        CMDB_INDEX
    </div>

    <div style="height: 1200px">
        <div style="position: absolute; top: 48px; bottom: 0; left: 0; width: 200px; background-color: brown;">
            <a class="menu" href="/cmdb/user_info">用户管理</a>
            <a class="menu" href="/cmdb/user_group">用户组管理</a>
        </div>

        <!--overflow: auto/scroll 超出父布局的内容支持滚动-->
        <div style="position: absolute; top: 48px; left: 210px; bottom: 0; right: 0; overflow: auto">
            <h3>添加用户</h3>
            <form method="post" action="{{ request.path_info }}">
                <input type="text" name="username"/>
                <input type="text" name="password"/>
                <select name="group_id">
                    {% for group in user_group %}
                        <option value="{{ group.gid }}">{{ group.caption }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="添加"/>

            </form>
            <h3>用户列表</h3>
            <ul>
                {% for row in user_list%}
                    <li>
                        <a href="/cmdb/userdetail-{{row.id}}/">{{row.username}}</a> |
                        <!--打印属组对象中的字段-->
                        <span>{{ row.user_group.caption }}</span> |
                        <a href="/cmdb/userdelete-{{row.id}}/">删除</a> |
                        <a href="/cmdb/useredit-{{row.id}}/">编辑</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>