<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMDB_INDEX</title>
    <style>
        body{
            margin: 0;
        }
        .menu{
            display: block;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div style="height: 48px; background-color: black; color: white">
        CMDB_INDEX
    </div>

    <div style="height: 1200px">
        <div style="position: absolute; top: 48px; bottom: 0; left: 0; width: 200px; background-color: brown;">
            <a class="menu" href="/cmdb/user_info">用户管理</a>
            <a class="menu" href="/cmdb/user_group">用户组管理</a>
        </div>

        <!--overflow: auto/scroll 超出父布局的内容支持滚动-->
        <div style="position: absolute; top: 48px; left: 210px; bottom: 0; right: 0; overflow: auto">
            <h3>编辑用户</h3>
            <form method="post" action="{{ request.path_info }}">
                <!-- id 不可编辑 -->
                <input type="text" name="uid" placeholder="uid" disabled value="{{ user.id }}" style="display: none"/>
                <input type="text" name="username" placeholder="username" value="{{ user.username }}"/>
                <input type="text" name="password" placeholder="password" value="{{ user.password }}"/>
                <input type="submit" value="提交"/>
            </form>

        </div>
    </div>
</body>
</html>