<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMDB_INDEX</title>
    <style>
        body{
            margin: 0;
        }
        .menu{
            display: block;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div style="height: 48px; background-color: black; color: white; position: fixed; z-index: 10; left:0; right: 0">
        CMDB_INDEX
    </div>

    <div style="height: 1200px; z-index: 9; background-color: rebeccapurple">
        <div style="position: absolute; top: 48px; bottom: 0; left: 0; width: 200px; background-color: brown;">
            <a class="menu" href="/cmdb/user_info">用户管理</a>
            <a class="menu" href="/cmdb/user_group">用户组管理</a>
        </div>

        <!--overflow: auto/scroll 超出父布局的内容支持滚动-->
        <div style="position: absolute; top: 48px; left: 210px; bottom: 0; right: 0; overflow: auto; background-color: #1b6d85">

        </div>
    </div>
</body>
</html>