<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>index</h1>
    <!-- 遍历字典的时候 是无序的
        user_dict.keys # 键
        user_dict.values # 值
        user_dict.items # 键值对
     -->
    <ul>
        {% for k, v in user_dict.items %}
            <li>{{k}} - {{v}}</li>
        {% endfor %}
    </ul>

    <div style="background-color: #1b6d85; height: 1px"></div>

    <!--<ul>-->
        <!--&lt;!&ndash;url拼接方式跳转&ndash;&gt;-->
        <!--&lt;!&ndash; _blank 指打开一个新页 &ndash;&gt;-->
        <!--{% for k, v in user_dict.items%}-->
            <!--<li><a target="_blank" href="/detail/?nid={{ k }}">{{ v.name }}</a></li>-->
        <!--{% endfor %}-->
    <!--</ul>-->

    <!-- 通过别名跳转 -->
    <form action="{% url 'index_alias' %}" method="post">
        <p><input type="text" placeholder="用户名"/></p>
        <p><input type="text" placeholder="邮箱"/></p>
        <input type="submit" value="添加"/>
    </form>

    <ul>
        <!--url正则方式跳转-->
        {% for k, v in user_dict.items %}
        <li><a href="/detail-{{ k }}" target="_blank">{{ v.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>