<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Test</title>
</head>
<body>
    <h3>注册 表单验证测试</h3>
    <form action="{{request.path_info}}" method="post">
        {% csrf_token %}
        <!--{{ form.as_p }}-->
        <!--{{ form.as_ul }}-->
        <!--<table>-->
            <!--{{ form.as_table }}-->
        <!--</table>-->
        <p>{{ form.user }} {{ form.errors.user.0 }}</p>
        <p>{{ form.pwd }} {{ form.errors.pwd.0 }}</p>
        <p>{{ form.email }} {{ form.errors.email.0 }}</p>
        <input type="submit" value="提交"/><br/>
    </form>
</body>
</html>